# prisma notation
DATABASE_URL=postgres://${USER}@postgresql01.icncd.ru/iconicactionstesting?sslmode=require&sslidentity=/var/run/autocert.step.sm/site.p12
# pg notation
#DATABASE_URL=postgres://${USER}@postgresql01.icncd.ru/iconicactionstesting?sslmode=require&sslcert=/var/run/autocert.step.sm/site.crt&sslkey=/var/run/autocert.step.sm/site.key
